body
{
    padding-top: 50px;
}

.BoardItem
{
	float:left;
	width: 25%;
	color: #f6f6f6;
    font-size: 16px;
    height: 90px;
    line-height: 22px;
    margin: 0 16px 16px 0;
	background-color: #0E74AF;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
    display: block;
    font-weight: 700;
    min-height: 18px;
    padding: 8px 12px;
    text-decoration: none;
}

.BoardItem:hover
{
	text-decoration: none;
	color: #f6f6f6;
	background-color: #0A5783;
}

.NewBoardItem
{
	float:left;
	width: 25%;
	background-color: #dbdbdb;
    color: #8c8c8c;
    font-weight: 400;
    line-height: 90px;
    text-align: center;
    font-size: 16px;
    height: 90px;
    margin: 0 16px 16px 0;
    background-position: center center;
    background-size: cover;
    border-radius: 3px;
    display: block;
    min-height: 18px;
    padding: 8px 12px;
    text-decoration: none;
}

.StateItem {
	width: 260px;
	float: left;
	padding:6px 3px;
	margin: 0px 5px;
	background: #e3e3e3;
	border-radius:3px;
}

.NewStateItem
{
	width: 260px;
	height: 30px;
	line-height: 30px;
	margin: 10px 5px;
	float: left;
	text-decoration: none;
	border-radius:3px;
	display: inline-block;
	padding-left: 5px;
	background-color: #e3e3e3;
}

.WorkItem
{ 
    border: 1px solid #888;
    margin: 5px;
    padding: 10px;
    background-color:white;
    min-height: 100px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width: 244px;
	border-radius:3px;
}

    
.WorkItem:hover
{
    text-decoration: none;
	background-color:#f0f0f0;
}

.StateItemTitle
{
	font-weight:bold;
}

#Login, #Register
{
	margin:auto;
	max-width: 500px;
}

.button-link {
	background: -webkit-linear-gradient(top,#fff 0,#f8f9f9 100%);
	background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
	border-radius: 3px;
	border: 1px solid #e2e4e6;
	border-bottom-color: #cdd2d4;
	cursor: pointer;
	display: block;
	font-weight: 700;
	margin-top: 6px;
	overflow: hidden;
	padding: 7px;
}

.button-link:hover {
	background: #298fca;
	border-color: #298fca #298fca #026aa7;
	color: #fff;
	text-decoration:none;
}

.aasFlyOut {
	z-index: 1051;
	width: 285px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #d6dadc;
	border-bottom-color: #c4c9cc;
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
}

#DueDate, #MoveCard
{
	width: 100%;
}

.FlyOutContent
{
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 10px 10px;
}

.header-title {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #8c8c8c;
	display: block;
	line-height: 36px;
	border-bottom: 1px solid #d6dadc;
	margin: 0 10px;
	overflow: hidden;
	padding: 0 32px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.DueDateTitle
{
	color: #8c8c8c;
	font-weight: 400;
	font-size: 14px;
	margin: 0 6px 6px 0;
}

.DueDateBadge {
	background-color: #d6dadc;
	border-radius: 3px;
	color: #8c8c8c;
	cursor: pointer;
	display: block;
	line-height: 20px;
	margin: 0 4px 4px 0;
	padding: 5px 10px;
	text-align: center;
	text-decoration:underline;
}

.DueDateBadge:hover {
	background: #cdd2d4;
	color: #4d4d4d;
	cursor: pointer;
	text-decoration: underline;
}

.WorkItemDueDate {
	color: #8c8c8c;
	display: inline-block;
	height: 18px;
	margin: 0 3px 3px 0;
	padding: 0 4px 0 0;
	position: relative;
	text-decoration: none;
	vertical-align: top;
}

.EditWorkItemDueDate
{
	width: 150px;
}

.WorkItemDueDateText {
	font-size: 12px;
	vertical-align: top;
}

