<!DOCTYPE html>
<html>
<head>
    <title>Untitled</title>
</head>
<body>
    <div aas-control="DialogControl">
        <div class="row">
            <div class="col-xs-2 pull-left">
                <h1 class="page-header">Dialog</h1>
            </div>
            <div class="pull-right col-xs-4 text-right LinkFiles">
                <ul>
                    <li>
                        <a href="https://github.com/Aspectize/Samples/blob/master/SamplesAndDemo/Controls/Layout/Dialog.htm" target="_blank">View Html</a>
                    </li>
                    <li>
                        <a href="https://github.com/Aspectize/Samples/blob/master/SamplesAndDemo/Configuration/Views/Layout/Dialog.js" target="_blank">View Configuration</a>
                    </li>
                </ul>
            </div>
        </div>

        <h4>Change the following options and click on the button to display a modal view.</h4>
        <div class="row form-inline">
            <div class="col-md-9">
                Title:<input name="DialogTitle" type="text" class="form-control" /> <input name="CheckBoxModal" type="checkbox" class="form-control" /> Modal <input name="CheckBoxFixed" type="checkbox" class="form-control" /> Fixed position <input name="CheckBoxClosedbutton" type="checkbox" class="form-control" /> Closed button
            </div>
            <div class="col-md-3">
                <a target="_blank" href="../PlayGround/id=18c465ab8" rel="nofollow" class="btn btn-primary">Try it yourself</a>
            </div>

        </div>
        <br />
        <br />
        <div class="row">
            <input name="BtnShowDialog" type="button" value="Display Dialog" class="btn btn-default" />
        </div>
    </div>

    <div aas-control="DialogContent" class="Padding10">
        <h1>Dialog Content</h1>
        <p>
            Dialog content can be bound to any view.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non
            metus auctor fringilla.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non
            metus auctor fringilla.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
            in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <br />
        <p class="text-center">
            <input name="BtnClose" type="button" value="Close" class="btn btn-default" />
        </p>
    </div>
</body>
</html>
