<!DOCTYPE html>
<html>
<head>
    <title>Untitled</title>
</head>
<body>

    <div aas-control="Flyout">
        <div class="row">
            <div class="col-xs-2 pull-left">
                <h1 class="page-header">Flyout</h1>
            </div>
            <div class="pull-right col-xs-4 text-right LinkFiles">
                <ul>
                    <li>
                        <a href="https://github.com/Aspectize/Samples/blob/master/SamplesAndDemo/Controls/Layout/Flyout.htm" target="_blank">View Html</a>
                    </li>
                    <li>
                        <a href="https://github.com/Aspectize/Samples/blob/master/SamplesAndDemo/Configuration/Views/Layout/Flyout.js" target="_blank">View Configuration</a>
                    </li>
                </ul>
            </div>
        </div>

        <h2>Basic Usage</h2>
        <div class="row form-inline">
            <div class="col-md-9">
                <input name="CheckBoxModal" type="checkbox" class="form-control" /> Modal
            </div>
            <div class="col-md-3">
                <a target="_blank" href="../PlayGround/id=89567a10c" rel="nofollow" class="btn btn-primary">Try it yourself</a>
            </div>
        </div>
        <br />
        <div class="row">
            <input name="BtnShowFlyout" type="button" value="Display Flyout" class="btn btn-default" />
        </div>
        <br />
        <h2>Display with JQueryExtension command</h2>
        <div class="row form-inline">
            <div class="col-md-4">
                My position : <input name="TxtMyPosition" type="text" class="form-control" value="left top" />
            </div>
            <div class="col-md-4">
                At position : <input name="TxtAtPosition" type="text" class="form-control" value="right bottom" />
            </div>
        </div>
        <br />
        <div class="row">
            <input name="BtnPositionFlyout" type="button" value="Display Flyout at a specific position" class="btn btn-default" />
        </div>
    </div>

    <div aas-control="FlyoutContent">
        <h2>This view is in a Flyout</h2>
        <br />
        <br />
        <p>
            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
        </p>

    </div>

</body>
</html>
